body {
    font-family:'Alegreya', 'Alegreya', 'Alegreya';
    margin: 60px auto;
    width: 70%;
    color: #4A5357
}
nav ul, footer ul {
    font-family: 'Alegreya SC', 'Alegreya SC', 'Alegreya SC';
    padding: 0px;
    list-style: none;
    color: #4A5357;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #737CA1;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 2.8em;
    font-family:'Alegreya', 'Alegreya', 'Alegreya';
    color: #4A5357
}
p {
    font-family:'Alegreya', 'Alegreya', 'Alegreya';
    font-size: 1.2em;
    line-height: 1.2em;
    color: #4A5357;
}
footer {
    font-family:'Alegreya', 'Alegreya', 'Alegreya';
    border-top: 1px solid #737CA1;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
