<!DOCTYPE html>
	<html>
		<head>
			<link href="https://fonts.googleapis.com/css?family=Alegreya" rel="stylesheet">
			<link href="https://fonts.googleapis.com/css?family=Alegreya:400i" rel="stylesheet">
			<link href="https://fonts.googleapis.com/css?family=Alegreya+SC" rel="stylesheet">
			<link href="https://fonts.googleapis.com/css?family=Alegreya:700,700i" rel="stylesheet">
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Publications</a></li>
	        		<li><a href="/Works-in-Progress">Works-in-Progress</a></li>
				<li><a href="/Talks">Talks</a></li>
				<li><a href="/Teaching">Teaching</a></li>
				<li><a href="/Grants">Grants</a></li>
				<li><a href="/CV">CV</a></li>
				<li><a href="/About">About</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:jadamcarter@gmail.com">email</a></li>
	        		<li><a href="https://github.com/jadamcarter">github.com/jadamcarter</a></li>
				</ul>
			</footer>
		</body>
	</html>
