<!DOCTYPE html>
	<html>
		<head>
			<link href="https://fonts.googleapis.com/css?family=Alegreya" rel="stylesheet">
			<link href="https://fonts.googleapis.com/css?family=Alegreya:400i" rel="stylesheet">
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Publications</a></li>
	        		<li><a href="/cv">Works in Progress</a></li>
	        		<li><a href="/blog">Teaching</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:jadamcarter@gmail.com">email</a></li>
	        		<li><a href="https://github.com/jadamcarter">github.com/jadamcarter</a></li>
				</ul>
			</footer>
		</body>
	</html>
